body {
    background-color:#d7fadb;
}

.cor_section {
    background-color: #24e188 ;
}
.cor_apagar {
    background-color: #9fafa1;
    color: white;
}
.cor_apagar:hover {
    background-color: #88968a;
    color: white;
}

.cor_salvar {

    background-color: #24e188 ;
    color: white;

}

.cor_salvar:hover {

    background-color: #1a9f61 ;
    color: white;

}
.cor_retornar {

    background-color: #ebd062 ;
    color: white;

}
.cor_retornar:hover {

    background-color: #eaca4b ;
    color: white;

}
